body {
  background-color: #121212;
  display: grid;
  grid-template-rows: auto 1fr 1fr auto;
  min-height: 100vh;
  margin: 0;
}

@font-face {
  font-family: FantasqueSansMonoRegular;
  src: url(FantasqueSans/TTF/FantasqueSansMono-Regular.ttf);
}

.title {
  display: grid;
  justify-content: center;
  font-family: FantasqueSansMonoRegular;
  color: antiquewhite;
  font-size: 35px;
  min-height: 100px;
}

h1 {
  display: grid;
  justify-content: center;
  margin: 10px;
}

h6 {
  margin: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 50px;
}

a {
  padding: 10px;
  font-family: FantasqueSansMonoRegular;
  color: #ffc13b;
  font-size: 20px;
}

.addingBook {
  display: flex;
  align-items: center;
}

.addingBook button,
form {
  margin: 40px;
  border: solid antiquewhite;
  padding: 5px;
  font-size: 20px;
}

.addingBook img { 
    margin: 10px;
}

.addingBook h2,
label {
  color: rgba(255, 255, 255, 0.8);
  font-family: FantasqueSansMonoRegular;
  display: grid;
  justify-content: center;
}

.addingBook input {
  background-color: rgb(250, 244, 237);
  font-family: FantasqueSansMonoRegular;
}

.read {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 30px;
}

.addingBook .read h2 {
    color: firebrick; 
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(245, 62, 62);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0ebb42;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.library .books {
  display:inline-flex;
  flex-direction: column;
  width:fit-content; 
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  font-family: FantasqueSansMonoRegular;
  background-color: #a6d7ff;
  list-style-type:none;

}

.library .books div {
  align-self: center;
}